<section class="hero  is-fullheight-with-navbar">

    <div class=" inicioTexto">
        <h1 class="titulo">
            Happy second anyversary!
        </h1>
        <h2 class="subtitulo">
            I love you so much and this is something I did to show you how much I love you and how happy I am with you
        </h2>
    </div>

    <div class="columns is-desktop">
        <div class="column">
            <img class="imgIzq" src="assets/images/moraditos.png" alt="">
        </div>
        <div class="column ">
            <img class="imgDer " src="assets/images/moraditos2.2.png" alt="">
        </div>

    </div>
    <div>


    </div>





</section>