<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">

        <div class=" inicioTexto">
          <h1 class="titulo tituloMobile">
            Everything started when we met at college
          </h1>
        </div>

        <div class="columns is-mobile">
          <div class="column">
            <div class="izquierda">
              <p class="has-text-left">You were going through difficult times</p>
              <img class="imgIzq" src="assets/images/guevaraSlide1.png" alt="">
            </div>
          </div>
          <div class="column ">
            <div class="derecha">
              <p class="has-text-right">And I was going through difficult times</p>
              <img class="imgDer " src="assets/images/aleSlide1.png" alt="">

            </div>
          </div>

        </div>
      </section>
    </div>

    <!--SLIDE 2-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">

        <div class=" inicioTexto has-text-centered">
          <h1 class="titulo2 tituloMobile">
            But we started talking to each other
          </h1>
          <h2 class="subtitulo2 subtituloMobile">
            We started listening to each other
          </h2>

        </div>

        <div class="imgCentro">
          <img src="assets/images/slide2.png" alt="">
        </div>
      </section>
    </div>


    <!--SLIDE 3-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">

        <div class=" inicioTexto">
          <h1 class="titulo2 tituloMobile">
            And slowly I started falling in love with you
          </h1>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <div class="izquierda">
              <img class="imgIzq" src="assets/images/slide3.png" alt="">
            </div>
          </div>
          <div class="column ">
            <div class="derecha">
              <p class="has-text-left">I was your friend...</p>
              <p class="has-text-left">So I would be there for you, for everything</p>
            </div>
          </div>
        </div>
      </section>
    </div>



    <!--SLIDE 4-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class=" inicioTexto">
          <h1 class="titulo2 tituloMobile">
            We have good and bad times as friends
          </h1>
          <h2 class="subtitulo2 subtituloMobile">
            But we always come back to each other
          </h2>
        </div>
        <div class="imgCentro2">
          <img src="assets/images/slide4.png" alt="">
        </div>
      </section>
    </div>

    <!--SLIDE 5-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">

        <div class=" inicioTexto">
          <h1 class="titulo2 tituloMobile">
            And then you started to have feelings for me
          </h1>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <div class="izquierda">
              <img class="imgIzq" src="assets/images/slide5.png" alt="">
            </div>
          </div>
          <div class="column ">
            <div class="derecha">
              <p class="has-text-left">Sometimes you were scared about it</p>
              <p class="has-text-left">But I was there...</p>
            </div>
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 6-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class=" inicioTexto">
          <h1 class="titulo2 tituloMobile">
            We stoped worry about our feelings
          </h1>
          <h2 class="subtitulo2 subtituloMobile">
            And we started to enjoy our time together
          </h2>
        </div>
        <div class="imgCentro2">
          <img src="assets/images/slide6.png" alt="">
        </div>
      </section>
    </div>

    <!--SLIDE 7-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class=" inicioTexto">
          <h1 class="titulo2 tituloMobile">
            We had our first kiss
          </h1>
          <h2 class="subtitulo2 subtituloMobile">
            Our first date
          </h2>
          <h2 class="subtitulo2 subtituloMobile">
            Our first photo
          </h2>
          <h2 class="subtitulo2 subtituloMobile">
            Our first present
          </h2>
        </div>
        <div class="columns is-desktop  slide7">
          <div class="column has-text-centered">
            <img src="assets/images/slide7.png" alt="" class="imagen1">
          </div>
          <div class="column has-text-centered">
            <img src="assets/images/slide7.1.png" alt="" class="imagen2">
          </div>
          <div class="column has-text-centered">
            <img src="assets/images/slide7.2.png" alt="" class="imagen3">
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 8-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">

        <div class=" inicioTexto">
          <h1 class="titulo tituloMobile">
            We started to can't be apart from each other
          </h1>
        </div>

        <div class="columns is-mobile slide8">
          <div class="column">
            <div class="izquierda">
              <p class="has-text-left">You started to be in my heart</p>
              <img class="imgIzq8" src="assets/images/slide8.png" alt="">
            </div>
          </div>
          <div class="column ">
            <div class="derecha">
              <p class="has-text-right">And I started loving to hold you</p>
              <img class="imgDer8" src="assets/images/slide8.1.png" alt="">

            </div>
          </div>

        </div>
      </section>
    </div>

    <!--SLIDE 9-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class=" inicioTexto">
          <h1 class="titulo2 tituloMobile">
            And then after many many months,
          </h1>
          <h2 class="subtitulo2 subtituloMobile">
            We said YES to the other
          </h2>
        </div>
        <div class="columns is-desktop slide9">
          <div class="column">
            <div class="slide9Iz">
              <img src="assets/images/slide9.png" alt="">
            </div>
          </div>
          <div class="column ">
            <div class="slide9Der">
              <iframe src="https://open.spotify.com/embed/track/4iG2gAwKXsOcijVaVXzRPW" class="spotify" frameborder="0"
                allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
          </div>

        </div>

      </section>
    </div>


    <!--SLIDE 🔟-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                And now all my favorites moments are with you
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slide10.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 11-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                Like go to the beach
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slide11.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 12-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                Go to eat together everywhere
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slide12.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 13-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                Wear matching clothes, like our NASA t-shirts
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slide13.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>

    <!--SLIDE 14-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                Go to the movies and eat a lot of popcorn
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slide14.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 15-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide15">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                Spend our school days together
              </h1>
            </div>

          </div>
          <div class="column imagenLado  ">
            <img src="assets/images/slide15.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 16-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                Visit new places together
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slider16.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 17-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide15">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                Celebrate New Year together
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slider17.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>

    <!--SLIDE 18-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide15 ">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                We had a kind of graduation
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slide18.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>

    <!--SLIDE 19-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                And I love to have you in my arms
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slide19.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 20-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="columns is-desktop  is-vcentered slide ">
          <div class="column">
            <div class="textoLado">
              <h1 class="tituloMobile">
                I love every picture of us together
              </h1>
            </div>

          </div>
          <div class="column imagenLado ">
            <img src="assets/images/slide20.png" class="is-vcentered">
          </div>
        </div>
      </section>
    </div>


    <!--SLIDE 20-->
    <div class="swiper-slide">
      <section class="hero  is-fullheight-with-navbar">
        <div class="final is-vcentered">
          <h1>All I want for the rest of our lives is to continue sharing moments together</h1>
        </div>
       
      </section>
    </div>



  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>