<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
      aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu" #navMenu>
    <div class="navbar-start">
      <a class="navbar-item" routerLink= "/" (click)="toggleNavbar()">
        Home
      </a>

      <a class="navbar-item" routerLink= "/love" (click)="toggleNavbar()">
        OUR HISTORY
      </a>

      <div class="navbar-item has-dropdown is-hoverable" id = "navDrop" >
        <a class="navbar-link">
          MORE
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item op" routerLink= "/particles" (click)="toggleNavbar()">
            PARTICLES
          </a>
          <a class="navbar-item op" routerLink= "/galeria" (click)="toggleNavbar()" >
            GALLERY
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>



<div class="navbar-menu navbar" id="navMenu">

  <div class="navbar-start">
    <a class="navbar-item" routerLink="/" (click)="toggleNo()">
      HOME
    </a>

    <a class="navbar-item" [routerLink]="['love']" routerLinkActive="active-link"  (click)="toggleNo()" >
      Our History
    </a>

    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        More
      </a>

      <div class="navbar-dropdown">
        <a class="navbar-item" [routerLink]="['particles']" routerLinkActive="active-link" (click)="toggleNo()">
          Particles
        </a>
        <a class="navbar-item" [routerLink]="['galeria']" routerLinkActive="active-link" (click)="toggleNo()">
          Gallery
        </a>

      </div>
    </div>
  </div>
</div> -->

<router-outlet></router-outlet>