.card {
  width: 500px;
  margin: auto;
  margin-top: 30vh;
  margin-bottom: 30vh;
}
.versiculo {
  font-family: "monserrat";
  font-size: 20px;
  text-align: center;
}
.cita {
  font-family: "monserrat";
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}
